{% extends "base.html" %}

{% block site_name %}Reviews{% endblock %}

{% block content %}
<h1>5 recent reviews</h1>
{% if user.is_authenticated %}
    <a href="{% url 'review-add' %}">
        <button>Add review</button>
    </a>
{% else %}
    <a href="{% url 'login' %}?next={% url 'review-add' %}">
        <button>Add review</button>
    </a>
{% endif %}
<div style="width: 1000px; margin: 0 auto;">
    {% for review in reviews %}
    <div style="border: 1px solid #ccc; padding: 20px; border-radius: 10px;
     background-color: #f9f9f9; max-width: 800px; margin: 10px; align-self: center">
        <h1>{{review.title}}</h1>
        <p>By {{review.author.full_name}}</p>
        <hr>
        <h2>Rating: {{review.rate}}</h2>
        {% if review.content %}
            <p>{{review.content}}</p>
        {% endif %}
            <p><strong>Created at: </strong>{{review.created_at|date:"d/m/Y H:i"}}</p>
        {% if review.updated_at %}
            <p><strong>Updated at: </strong>{{review.updated_at|date:"d/m/Y H:i"}}</p>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}